*.exe
*.sdb
*.log
*.wbd
*.prj
*.cmd
*.xmsgs
*.gise
*.ini
*.html
*.xreport
*.wdb
*.dat
*.dbg
*.obj
*.c
*.didat
*_ngo/
.bld
.cmd_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twx
*.unroutes
*.xpi
*.xst
*.ncd
*_map.*
*_pad.*
*.xrpt
*.xml
*.xml
*.xrpt
*.exe.sim/
*.v
*.xml
*.bld
*.cmd_log
xlnx_auto_0_xdb/
xst/
*.twr